<section class='numbers-info-layout'>

  <div class="numbers-info-layout--input-wrapper">
    <label for="date">Please enter date separated by commas :</label>
    <input placeholder="ex. 17/04" type="text" name="date" id="date">
  </div>

  <div class="numbers-info-layout--descriptions-wrapper">
    <div class="numbers-info-layout--descriptions-wrapper--header" >
      <h1>A MOMENT OF HISTORY</h1>
      <span>You entered {{numbersDescription.length}} dates...</span>
    </div>
  </div>
</section>
